/* =Header
----------------------------------------------- */

.site-header {
	margin-bottom: 1.5em;

	@include imagebg ( $small-header-bg, "", no-repeat, top, center, cover );
	
	@media only screen and (min-width: $responsive15) {
		@include imagebg ( $header-bg, "", no-repeat, bottom, center, cover );
	}

	@media only screen and (min-width: $responsive5) {
		@include imagebg ( $header-bg-wide, "", no-repeat, bottom, center, cover );
	}

	.site-branding {
		max-width: 75em;
		margin: 0 auto;
		height: 180px;

		@media only screen and (min-width: $responsive1) {
			height: 287px;
		}

	} // End of .site-branding

	.branding-wrap {
		margin: 0 auto;
		overflow: hidden;

		@media only screen and (min-width: $responsive2) {
			max-width: 52em;
		}

		@media only screen and (min-width: $responsive5) {
			max-width: 75em;
		}
	} // End of .branding-wrap


	.site-logo {
		width: 360px;
		margin: 0.5em auto;
		
		@media only screen and (min-width: $responsive1) {
			width: 522px;
			margin: 2em auto;
		}

		@media only screen and (min-width: $responsive3) {
			float: left;
			margin: 2em 1em;
		}

		@media only screen and (min-width: $responsive5) {
			margin: 2em 1.5em;
		}
	}

	.host-photo {
		display: none;

		@media only screen and (min-width: $responsive5) {
			float: left;
			display: inherit;
			height: 287px;
			width: 355px;
			margin: 0;

			@include imagebg ( $headshot );
		}
	}

	.site-description {
		display: none;

		@media only screen and (min-width: $responsive3) {
			float: left;
			display: inherit;
			color: $light;
			width: 16em;
			margin-top: 2em;
		}

	} // End of .site-description

} // End of .site-header