.nav-social {
	margin: 0.6em 1.5em 0 0;

	a[href*="facebook.com"] {
		@include svgicon(facebook);
	}

	a[href*="movie"],
	a[href*="film"] {
		@include svgicon(film);
	}

	a[href$=".rss"], 
	a[href$="rss.xml"], 
	a[href*="/feed/"],
	a[href*="/rss/"] {
		@include svgicon(rss);
	}

	a[href*="twitter.com"] {
		@include svgicon(twitter);
	}

	svg g path {
		fill: #cd3f35;
	}

	.screen-reader-text {
		@include hidetext();
	}

	.menu-items {
		list-style: none;

		.menu-item {
			display:  inline-block;
			position: relative;
			margin: 0.25em;
			line-height: $menuheight;
		} 
	}
}